@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@300&family=Stick+No+Bills:wght@800&display=swap');

.fnt1{
    font-family: "Stick No Bills", sans-serif;
    color: rgb(70, 34, 5);
    font-size: 7vw;
}
.ic1{
    font-size: 7vw;
    padding-right: 10px;
    color: rgb(70, 34, 5);
    margin-top: 5%;
}
.ic1:hover{
    color: white;
}
.ic2{
    font-size: 10vw;
    color: rgb(70, 34, 5);
    margin-top: 5%;
}
.ic2:hover{
    color: white;
}
.fnt1:hover{
    color: white;
}
.label1{
    font-size: 1.2vw;
}
.head1{
    background-color: rgb(196, 139, 86);
    color: rgb(70, 34, 5);
    position: sticky;
    top: 0%;
}
.head1:hover, .label1:hover{
    background-color: rgb(70, 34, 5);
    color: white;
}
.text1, .text2{
    color: rgb(70, 34, 5);
    font-size: 4vw;
    font-family: 'Roboto', sans-serif;
}
.text2:hover{
    color: red;
}
.text3{
    color: rgb(70, 34, 5);
    text-align: justify;
    padding-left: 6.5%;
    padding-top: 6.5%;
    padding-right: 6.5%;
    padding-bottom: 6.5%;
    font-size: 1.2vw;
}
.text4{
    border: red 2px solid;
}
.text5{
    font-size: 3.5vw;
    color: rgb(87, 46, 9);
    font-family: 'Permanent Marker', cursive;
    padding-top: 10px;
}
.text5:hover{
    color: rgb(136, 70, 17);
}
.text6{
    color: rgb(87, 46, 9);
    font-size: 1.2vw;
}
.imgheight{
    height: 60%;
}
.text7{
    color: rgb(87, 46, 9);
    font-size: 3vw;
}